<div class="row">
  <div class="col">
      <h3 class="border-bottom pb-3 mb-4">Multi-Select Dropdown</h3>
  </div>
</div>

<div class="row">
<div class="col-md-6">
  <h6>
    Foods
    <span class="float-right">
      <button class="btn btn-sm btn-link py-0">Toggle search</button>
      <button class="btn btn-sm btn-link py-0">Toggle Error</button>
      <button class="btn btn-sm btn-link py-0">Toggle status</button>
    </span>
  </h6>
  <app-multi-dropdown
  [items]="items"
  (changeItem)="changeItem($event)">
  </app-multi-dropdown>
</div>
<div *ngIf="checkedArr !=''" class="col-md-6">
  <div class="card">
    <div class="card-body">
      <li *ngFor="let item of checkedArr">{{item.name}}</li>
    </div>
  </div>
</div>
</div>

